{% extends 'base.html' %}
{% from 'bootstrap/wtf.html' import quick_form %}
{% from '_macros.html' import render_pagination %}

{% block title %}关于{% endblock %}

{% block page_content %}
<div class="about-content">
    <h1 class="about-title">关于</h1>
    <article class="about-article">
        <p>寻找自我认同大抵是人生最为艰难的一件事了。</p>

        <p>"我是谁？"</p>

        <p>这个问题说起来简单易懂，可真正想明白又何其难。</p>

        <p>生活是一个围城，总有人想出去，可却也总有人想进来。</p>

        <p>但悲哀又明显的事实是：我们是为着社会认同而活着的。</p>

        <p>社会在教育和指导我们的时候，却同时给我们戴上了命运的枷锁，在潜移默化中塑造了我们的认知。</p>

        <p>在中国的传统观念里，人不是为自己活着的。</p>

        <p>朱子教我们存天理而灭人欲，正所谓："唯天子受命于天，天下受命于天子，一国则受命于君。君命顺，则民有顺命；君命逆，则民有逆命。" 别看清帝逊位都百余年了，传统的封建礼教和儒家思想早已深深地成为了文化的一部分，烙印在每一个生活在这热土之上的人们的潜意识中，丝毫不曾更易。</p>

        <p>这么说未免有些悲观，但这终竟是一个事实。</p>

        <p>在二十年的人生里，我一向所祈愿和追求的，便是自我独立意识之表达。我希望摆脱掉时代和社会对我的桎梏与枷锁，我希望跳脱于这畦封之外，追求一个孤标独步之灵魂。</p>

        <p>但至少目前看来，似是仍旧路漫漫而修远兮。</p>

        <p>可我也将如是般走下去，上下而求索。</p>

        <p>这或许也是此博客意义之所在。</p>
    </article>
</div>
{% endblock %}