{% extends 'base.html' %}
{% from 'bootstrap/wtf.html' import quick_form %}
{% from '_macros.html' import render_pagination %}

{% block title %}Weblog{% endblock %}

{% block page_content %}
    <div class="container">
        <!-- 欢迎标题区域 -->
        <div class="page-header">
            <h1>欢迎来到 Weblog</h1>
            <div class="time-info">
                当前时间：{{ moment(date_time).format('LLL') }}
            </div>
            <div class="time-info">
                上次刷新页面时间据现在：{{ moment(date_time).fromNow(refresh=True) }}
            </div>
        </div>

        <div class="row">
            <!-- 左侧主要内容区 -->
            <div class="col-md-8">
                <!-- 个人资料卡片 -->
                <div class="profile-card">
                    <div class="card-header">
                        <strong>F</strong>的个人资料
                    </div>
                    <div class="card-body">
                        <div class="profile-content">
                            <!-- 左侧头像 -->
                            <div class="profile-avatar">
                                <img class="img-fluid" 
                                     alt="OwnerAvatar" 
                                     src="https://www.gravatar.com/avatar/{{ 'sunshen02@gmail.com' | gravatar }}?s=200">
                            </div>
                            <!-- 右侧信息 -->
                            <div class="profile-info">
                                <h2>一个基于Flask的博客和论坛系统</h2>
                                <div class="info-item">
                                    <span>Github:</span>
                                    <i class="fa fa-link"></i>
                                    <a href="https://github.com/fredsun02" target="_blank">
                                        https://github.com/fredsun02
                                    </a>
                                </div>
                                <div class="info-item">
                                    <span>建站时间:</span>
                                    <i class="fa fa-clock-o"></i>
                                    2025-03-15
                                </div>
                                <div class="info-item">
                                    <span>联系邮箱:</span>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:sunshen02@gmail.com">
                                        sunshen02@gmail.com
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>

            <!-- 右侧边栏 -->
            <div class="col-md-4">
                <!-- slider -->
                 {% include 'slider.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- 引入 moment.js -->
    {{ moment.include_moment() }}
    {{ moment.lang('zh-cn') }}
    <!-- 引入 Markdown 预览支持 -->
    {{ pagedown.include_pagedown() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .feature-box {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid #eee;
            border-radius: 4px;
        }
        .feature-box h4 {
            color: #337ab7;
            margin-bottom: 15px;
        }
        .feature-box ul {
            list-style-type: none;
            padding-left: 0;
        }
        .feature-box li {
            margin: 5px 0;
            color: #666;
        }
        .login-prompt {
            margin: 20px 0;
            padding: 15px;
            background: #f8f9fa;
            border-radius: 4px;
        }
    </style>
{% endblock %}
